.headerCnt{
    background-color: honeydew;
    position: relative;
    width: 100%;
   height: 12vh;
   box-shadow: 3px 3px 8px 1px gray;
}

.container > img{
 float: left;
    
}

h1{
    text-shadow: 2px 2px 2px gray;
    float: left;
    margin-top: 28px;
}

.navCnt{
  float: right;
}

.navCnt nav{
    float: right;
    padding: 20px;
}

.navCnt ul li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.navCnt ul li a{
    font-size: 22px;
}