<!--Bus Info Card-->
<div class="busInfoCnt" (click)="expand()">
    <img [src]="busInfo.imgPath" height="100">
    <div class="infoHolder">
        <h2>{{busInfo.name}}</h2>
        <p><strong>From : </strong>{{busInfo.from}}</p>
        <p><strong>To : </strong>{{busInfo.to}}</p>
    </div>
    <div class="infoHolder">
        <p><strong>Total Seats : </strong>{{busInfo.totalSeats}}</p>
        <p><strong>Booked Seats : </strong>{{busInfo.bookedSeats}}</p>
        <p><strong>Available Seats : </strong>{{busInfo.availableSeats}}</p>
    </div>
    <div class="infoHolder">
        <span class="rating">{{busInfo.rating}}</span>
        <p><strong>Price : </strong>{{busInfo.price | currency:'INR'}}</p>
        <p><strong>Departure Time : </strong>{{busInfo.departureTime | date:'HH:mm a'}}</p>
    </div>
</div>
<div class="clr"></div>

<!--Bus Whole Information Container-->
<div class="container" [style.height]="height">
    <div class="busCnt">
        <div class="bus">
            <div class="driver">
                <img src="../../assets/steering-wheel.png" alt="driver seat" width="60" height="60">
            </div>
            <div class="divider"></div>
            <div class="passenderCnt">
                <div class="passenger" *ngFor="let i of seatRows; let odd = odd; let even = even"
                    [ngClass]="{odd : odd, even:even}">

                    <div class="row seat" *ngFor="let j of seatColums">
                        <!-- <div class="seat" (click)="select(((i -1)*seatColums.length)+j)"
                            [style.background-color]="seats[((i -1)*seatColums.length)+j]">
                            {{((i -1)*seatColums.length)+j}}
                        </div> -->

                        <svg (click)="select(((i -1)*seatColums.length)+j)" id="Layer_1" data-name="Layer 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 2 100 100">
                            <title>Bus Seat</title>
                            <path class="cls-ra cls" [style.fill]="seats[((i -1)*seatColums.length)+j]"
                                d="M36,17.3H80.4a8.88,8.88,0,0,1,6.72-7.25A5.77,5.77,0,0,0,81.57,6H36a5.72,5.72,0,0,0-5.76,5.66A5.71,5.71,0,0,0,36,17.3Z" />
                            <path class="cls-ra cls" [style.fill]="seats[((i -1)*seatColums.length)+j]"
                                d="M80.29,82.79H36A5.66,5.66,0,1,0,36,94.1H81.47a6.13,6.13,0,0,0,5.44-3.41A8.77,8.77,0,0,1,80.29,82.79Z" />
                            <path class="cls-ra cls" [style.fill]="seats[((i -1)*seatColums.length)+j]"
                                d="M80.08,79.7V20.5H35.92A8.85,8.85,0,0,1,27.17,13h-18a4,4,0,0,0-4.06,4V82.79a4,4,0,0,0,4.06,3.95H27.28a8.65,8.65,0,0,1,8.75-7Z" />
                            <path class="cls-ra cls" [style.fill]="seats[((i -1)*seatColums.length)+j]"
                                d="M89.15,12.93a5.71,5.71,0,0,0-5.76,5.65V82.15a5.76,5.76,0,0,0,11.52,0V18.58A5.71,5.71,0,0,0,89.15,12.93Z" />
                            <path class="cls-ra cls" [style.fill]="seats[((i -1)*seatColums.length)+j]"
                                d="M90.21,9.94a8.93,8.93,0,0,0-8.74-7H36a8.94,8.94,0,0,0-8.75,6.93H9.15A7.22,7.22,0,0,0,2,17V82.79a7.06,7.06,0,0,0,7.15,7h18a8.85,8.85,0,0,0,8.75,7.26H81.47A8.91,8.91,0,0,0,90,90.9a8.81,8.81,0,0,0,8-8.75V18.58A8.84,8.84,0,0,0,90.21,9.94ZM36,6H81.57a5.77,5.77,0,0,1,5.55,4.06A8.88,8.88,0,0,0,80.4,17.3H36a5.71,5.71,0,0,1-5.76-5.65A5.72,5.72,0,0,1,36,6ZM27.28,86.74H9.15a4,4,0,0,1-4.06-3.95V17a4,4,0,0,1,4.06-4h18a8.85,8.85,0,0,0,8.75,7.47H80.08V79.7H36A8.65,8.65,0,0,0,27.28,86.74ZM81.47,94.1H36a5.66,5.66,0,1,1,0-11.31H80.29a8.77,8.77,0,0,0,6.62,7.9A6.13,6.13,0,0,1,81.47,94.1ZM94.91,82.15a5.76,5.76,0,0,1-11.52,0V18.58a5.76,5.76,0,0,1,11.52,0Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="sideInput" [style.visibility]="sideInWidth">
            <app-user-details-input [amount]="amount"></app-user-details-input>
            <button (click)="bookTicket()">Book</button>
        </div>

    </div>
    <div class="colorInfo">
        <p class="seatCount"><span class="seatColorInfo s"></span>Selected Seats : {{selectedSeatCounts}}</p>
        <p class="seatCount"><span class="seatColorInfo a"></span>Available seats : {{selectedSeatCounts}}</p>
        <p class="seatCount"><span class="seatColorInfo b"></span>Booked Seats : {{selectedSeatCounts}}</p>
    </div>
</div>